.img-gallery-container {
  background-color: white;
  width: 640px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.img-gallery-picture {
  /* background: url("/assets/img.viewer/img.viewer.empty.jpg") center; */
  background-size: cover;
  width: 140px;
  height: 140px;
}