<div searchBox class="search-input">
  <input
    type="search"
    placeholder="Search"
    [(ngModel)]="searchText"
    (ngModelChange)="onChange()"
    (keydown.enter)="onSearch()"
    (click)="clicked = !clicked"
    [class.clicked]="clicked"
  />
  <div toolButton class="search-btn" (click)="onSearch()">
    <img src="assets/btn-search.png" alt="Settings" />
  </div>
  <div class="search-helper">
    <ul>
      <li *ngFor="let hintItem of hintList" (click)="onSelect(hintItem)">
        {{ hintItem.text }}
      </li>
    </ul>
  </div>
</div>
